html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 260px;
  font-family: "Raleway", sans-serif;
}
.all-sections {
  display: flex;
  flex-direction: column;
}
.section {
  margin-left: 60px;

  padding-top: 30px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: rgb(2, 2, 137);
  margin: 0;
}
.sub-heading {
  font-size: 25px;
  font-weight: bold;
  color: rgb(2, 2, 137);
}

.sub-sub-heading-black {
  font-size: 16px;
  font-weight: bold;
  color: rgb(4, 4, 14);
}
.sub-heading-black {
  font-size: 25px;
  font-weight: bold;
  color: rgb(4, 4, 14);
}
.italicized {
  font-style: italic;
}
.line {
  height: 3px;
  width: 50px;
  background-color: rgb(73, 139, 231);
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-black-heading {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 00px;
}
